@use '../scss/' as *;
.card__detail {
    &__container {
        max-width: 1260px;
        margin:-200px auto 48px;
        padding: 0 2rem;
    }
    &__bg {
        position: relative;
        height:50vh;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        &::before {
            content: '';
            width: 100%;
            top: 0;
            left: 0;
            height: 100%;
            position: absolute;
           @include overlay
    
        }
        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100px;
            background-image: linear-gradient(to top, #0f0f0f, rgba(0, 0, 0, 0));
        }    
    }
    &__info {
        
        @include flex(flex-start,flex-start);
       
        &__poster {
            z-index: 88;
            flex:1 1;
           &__img {
            padding-top: 165%;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            border-radius:30px
           }
          @include mobile {
              display:none;
          }
        }
        &__desc {
            width:70%;
            padding-left: 2rem;
            z-index: 88;
            @include mobile {
                width:100%;
                padding-left: 0rem;
            }
        }
        &__name {

            font-size: 4rem;
            margin-bottom: 2rem;
            line-height: 1
        }
        &__genres {
            margin-bottom: 2rem;
            & > * ~ * {
                margin-left: 0.5rem;
            }
            & .btn {
                font-size: 0.8rem;
                padding:0.5rem 1.5rem;
            }
        }
        &__overview {
            margin-bottom: 2rem;
        }
        & .casts {
            &__list {
                display:grid;
                grid-template-columns: repeat(auto-fill,(minmax(90px,1fr)));
                gap:10px
            }
            &__item {
                flex:90px 1;
                &__img {
                    height:160px;
                }
                &__name {
                    font-size: 0.8rem;
                }
            }
        }
    }
    &__trailers {
        max-width: 1660px;
        margin: 0 auto;
        padding:0 2rem 3rem;
    }
    &__trailer {
        margin-bottom: 3rem;
        &__title {
            margin-bottom: 1.5rem;
        }
    }
    & .similar {
        max-width: 1660px;
        margin: 0 auto;
        padding:0 2rem 3rem;
    }
}